<div class="article article-post">
    <h2 class="title">{{ page.title }}</h2>
    <div class="info">
        <span class="info-title"><i class="icon-calendar"></i> Published: </span>
        <span class="info-date">{{ page.date | date_to_string }}</span>
        <span class="info-title"><i class="icon-folder-open"></i> Category: </span>
        <span class="info-link"><a href="{{ site.url }}/navigations/categories.html#{{ page.category }}-ref" >{{ page.category }}</a></span>
    </div>
    {{ content }}
    <nav class="article-previous fn-clear">
        {% if page.previous %}
        <a class="prev" href="{{site.baseurl}}/{{ page.previous.url }}" rel="bookmark">&laquo;&nbsp;{{ page.previous.title | truncatewords:5 }}</a>
        {% endif %}
        {% if page.next %}
        <a class="next" href="{{site.baseurl}}/{{ page.next.url }}" rel="bookmark">{{ page.next.title | truncatewords:5 }}&nbsp;&raquo;</a>
        {% endif %}
    </nav>
    <!-- 多说评论框 start -->
	<div class="ds-thread" data-thread-key="{{ site.url }}_{{ page.title }}" data-title="{{ page.title }}" data-url="{{ site.url }}"></div>
    <!-- 多说评论框 end -->
    <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
    <script type="text/javascript">
    var duoshuoQuery = {short_name:"shaipxiang"};
	    (function() {
		    var ds = document.createElement('script');
		    ds.type = 'text/javascript';ds.async = true;
		    ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		    ds.charset = 'UTF-8';
		    (document.getElementsByTagName('head')[0] 
		        || document.getElementsByTagName('body')[0]).appendChild(ds);
	    })();
	</script>
    <!-- 多说公共JS代码 end --> 
</div>
<div class="bshare-custom"><a title="分享到QQ空间" class="bshare-qzone"></a><a title="分享到新浪微博" class="bshare-sinaminiblog"></a><a title="分享到人人网" class="bshare-renren"></a><a title="分享到腾讯微博" class="bshare-qqmb"></a><a title="分享到网易微博" class="bshare-neteasemb"></a><a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis"></a><span class="BSHARE_COUNT bshare-share-count">0</span></div><script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/button.js#style=-1&amp;uuid=&amp;pophcol=2&amp;lang=zh"></script><a class="bshareDiv" onclick="javascript:return false;"></a><script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script>

